.App {
  max-width: 800px;
  margin: 0 auto;
}

.grid-header-paper {
  height: 39px;
  margin: 8px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

